<h1>Save new pokemon</h1>

<form name="pokemon-form" #f="ngForm" (ngSubmit)="onSubmit()">

  <label for="pokedex">Pokedex</label>
  <input type="number"
         id="pokedex"
         name="pokedex"
         [(ngModel)]="pokemon.pokedex"
         required>

  <label for="name">Name</label>
  <input type="text"
         id="name"
         name="name"
         [(ngModel)]="pokemon.name"
         required
         minlength="3">

  <label for="pictureUrl">Picture URL</label>
  <input type="url"
         id="pictureUrl"
         name="pictureUrl"
         [(ngModel)]="pokemon.pictureUrl"
         required>

  <label for="type1">Type</label>
  <input type="text"
         id="type1"
         name="type1"
         [(ngModel)]="pokemon.type[0]"
         required>

  <input type="text"
         id="type2"
         name="type2"
         [(ngModel)]="pokemon.type[1]"
         [disabled]="!pokemon.type[0]">

  <button type="submit" [disabled]="!f.form.valid">Add pokemon</button>
</form>
