<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/pokemon-list" slot="start"></ion-back-button>
        <ion-title>{{pokemon.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="ion-text-center">
        <img [src]="pokemon.pictureUrl" padding>
        <h2>Nr. {{pokemon.pokedex}}</h2>
        <h1>{{pokemon.name}}</h1>
        <ion-note *ngFor="let type of pokemon.type; let l = last">{{type}}{{l ? '' : ', '}}</ion-note>
    </div>
</ion-content>
