<ion-header>
    <ion-toolbar>
        <ion-title no-padding>A list of all Pokemon out there</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2>Kanto region</h2>

    <ion-list>
        <app-pokemon-list-item *ngFor="let pokemon of pokemonList; let i = index"
                               (click)="pokemonClicked(i)" [pokemon]="pokemon"></app-pokemon-list-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" padding>
        <ion-fab-button routerLink="/pokemon-form">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
