<h1>A list of all Pokemon out there</h1>
<h2>Kanto region</h2>

<div *ngFor="let pokemon of pokemonList; let i = index">
  <h3>{{pokemon.pokedex}}: {{pokemon.name}}</h3>

  <span *ngFor="let type of pokemon.type; let l = last">{{type}}{{l ? '' : ', '}}</span>

  <img [src]="pokemon.pictureUrl" width="100px" (click)="pokemonClicked(i)" [routerLink]="pokemon.pokedex" style="cursor: pointer">
</div>

<button routerLink="/pokemon/form">Add pokemon</button>
