<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/pokemon-list"></ion-back-button>
        <ion-title>New pokemon</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="onSubmit()" #f="ngForm" name="pokemonForm">
        <ion-item>
            <ion-label position="floating">Pokedex</ion-label>
            <ion-input type="number" name="pokedex" [(ngModel)]="pokemon.pokedex" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="pokemon.name" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-input type="text" name="type1" [(ngModel)]="pokemon.type[0]" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Type 2</ion-label>
            <ion-input type="text" name="type2" [(ngModel)]="pokemon.type[1]" [disabled]="!pokemon.type[0]"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Picture</ion-label>
            <ion-input type="url" name="pictureUrl" [(ngModel)]="pokemon.pictureUrl" required></ion-input>
        </ion-item>
        <ion-button color="primary" type="submit" [disabled]="!f.form.valid">Submit</ion-button>
    </form>
</ion-content>
