<button type="button" routerLink="/pokemon">Back to the list</button>

<div style="text-align: center;">
  <img [src]="pokemon.pictureUrl" width="400px">
  <h2>Nr. {{pokemon.pokedex}}</h2>
  <h1>{{pokemon.name}}</h1>

  <span *ngFor="let type of pokemon.type; let l = last">{{type}}{{l ? '' : ', '}}</span>
</div>
