<ion-item [routerLink]="['/pokemon-list', pokemon.pokedex]">
  <ion-label>
    <h2>{{pokemon.pokedex}}: {{pokemon.name}}</h2>
    <ion-note *ngFor="let type of pokemon.type; let l = last">{{type}}{{l ? '' : ', '}}</ion-note>
  </ion-label>
  <ion-avatar>
    <ion-img [src]="pokemon.pictureUrl" style="cursor: pointer"></ion-img>
  </ion-avatar>
</ion-item>
